*{
    margin: 0;
    padding: 0;
}
#img{
    width: 100px;
}
.container{
    margin-top: 30px;
   text-align: center;
   margin-bottom: 5px;
}
button{
    background: black;
    color: gold;
    padding: 10px;
    border-radius: 15px;
}
.demo{
    font-size: 14px;
}
hr{
    margin: 10px 50px 10px 50px;
    border: 1px solid red;
    color: red;
}